<footer class="footer">
  <ul class="footer-items">
    <li>&copy; 2023</li>
    <li>
      <a 
        href="#"
        target="_blank"
      >
      <i class="bi bi-file-earmark-text-fill"> About Us</i>
      </a>
    </li>
    <li>
      <a 
        href="https://github.com/Michel-Rooney/Frontend/tree/main/2023-09-11"
        target="_blank"
      >
        <i class="bi bi-github"> GitHub</i>
      </a>
    </li>
    <li>
      <a 
        href="https://www.linkedin.com/in/michel-rooney-aabb63234/"
        target="_blank"
      >
        <i class="bi bi-linkedin"> Linkedin</i>
      </a>
    </li>
  </ul>
</footer>